Source: cherrypy
Maintainer: CherryPy Team <team@cherrypy.org>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 7.4.3), python3-setuptools-scm
Standards-Version: 3.9.1





Package: python3-cherrypy
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Object-Oriented HTTP framework
 CherryPy is a pythonic, object-oriented HTTP framework

